@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;300;400;500;600;700&display=swap");
html,
body {
  overflow-x: hidden;
  position: relative;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.errorlist {
  list-style-type: none;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.page-layout {
  display: grid;
  grid-template-rows: 90px 1fr auto;
  height: 100vh;
}

header {
  background-color: white;
  color: #fff;
  border-bottom: 1px solid rgb(220, 220, 220);
}
header .header-items {
  display: flex;
  align-items: flex-end;
  padding: 0 40px;
  justify-content: space-between;
  height: 90px;
  padding-bottom: 1rem;
}

.advice {
  display: grid;
  grid-template-columns: repeat(1fr, 3);
  width: 100%;
  align-items: center;
  background-color: rgb(255, 255, 255);
  padding: 1.2rem 5rem;
  font-size: 11px;
}
.advice div {
  max-width: 1200px;
  display: flex;
  margin: 0 auto;
  gap: 1rem;
  align-items: center;
  justify-content: center;
  padding: 0.2rem 2rem;
}

footer {
  display: grid;
  align-items: center;
  justify-content: center;
  background-color: #F1F1F3;
  font-size: 11px;
  height: auto;
  color: #666668;
}
footer .footer-details {
  display: grid;
  grid-template-columns: 240px 1fr 2fr;
  align-items: center;
  font-size: 11px;
  line-height: 16px;
}
footer .footer-details div {
  height: 100%;
  width: 100%;
  padding: 2rem;
}

.content {
  width: 400px;
  max-width: 400px;
}

.logo {
  width: 220px;
}
.logo img {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
}

.bg {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -9;
  height: 100%;
  overflow: hidden;
}
.bg img {
  -o-object-fit: cover;
     object-fit: cover;
  height: 130%;
  width: 100%;
}

.login-form {
  background-color: #fff;
  padding: 10px 35px;
  text-align: center;
  margin-top: 100px;
  background: transparent;
  position: relative;
  border-bottom: 3px solid #285B9B;
}
.login-form::before {
  content: "";
  height: 100%;
  width: 100%;
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  opacity: 0.85;
  z-index: -1;
}
.login-form .forgot-pass {
  text-align: left;
  margin: 2rem 0;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: #06174d;
  font-size: 14px;
  font-family: sans-serif;
}
.login-form h2 {
  color: #3498db;
  margin-bottom: 30px;
  font-weight: lighter !important;
  color: #0F3A87;
}
.login-form h2 span {
  font-weight: 500;
}
.login-form .form-group {
  text-align: left;
  margin-bottom: 15px;
}
.login-form .form-group .form-control {
  position: relative;
}
.login-form .form-group .error-message {
  margin: 0;
  margin-top: 3px;
  font-size: 13px;
  color: red;
}
.login-form .form-group i {
  left: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: rgb(212, 212, 212);
  transition: color 0.3s;
}
.login-form .form-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
}
.login-form .form-group input[type=text],
.login-form .form-group input[type=password] {
  width: 100%;
  padding: 13px;
  padding-left: 2.5rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
}
.login-form .form-group input[type=text]::-moz-placeholder, .login-form .form-group input[type=password]::-moz-placeholder {
  color: rgb(177, 177, 177);
  font-size: 15px;
  font-style: italic;
}
.login-form .form-group input[type=text]:-ms-input-placeholder, .login-form .form-group input[type=password]:-ms-input-placeholder {
  color: rgb(177, 177, 177);
  font-size: 15px;
  font-style: italic;
}
.login-form .form-group input[type=text]::placeholder,
.login-form .form-group input[type=password]::placeholder {
  color: rgb(177, 177, 177);
  font-size: 15px;
  font-style: italic;
}
.login-form button {
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  background-color: #87B949;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%;
  outline: none;
}
.login-form button:hover {
  background-color: #729d3c;
}

.border-left {
  border-left: 1px solid rgb(211, 211, 211);
}

.button {
  color: white;
  padding: 0.5rem 1.3rem;
  border-radius: 30px;
  transition: background 0.1s ease;
  text-decoration: none;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}
.button--blue {
  background-color: #376AFF;
}
.button--blue:hover {
  background: #1e57ff;
}
.button--white {
  background-color: white;
  color: #376AFF;
  font-weight: 500;
  letter-spacing: 0.3px;
  border: 1px solid rgba(0, 0, 255, 0.386);
}
.button--sm {
  font-size: 14px;
}

.cartola-section {
  max-width: 62em;
  margin: 0 auto;
}
.cartola-section .welcome {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1.2rem 0;
}
.cartola-section .user {
  font-weight: 600;
  color: #376AFF;
}
.cartola-section .cuenta-data {
  margin: 1.5rem 0;
}
.cartola-section .cuenta-data__details {
  color: rgb(106, 106, 106);
}
.cartola-section .cuenta-data h3 {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0.5rem;
}
.cartola-section .menu_link {
  display: flex;
  gap: 3rem;
  padding: 1rem 2rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  color: rgb(106, 106, 106);
}
.cartola-section .menu_link .link-active {
  color: #376AFF;
  border-bottom: 2px solid #376AFF;
  padding-bottom: 0.5rem;
}

.cartola-info {
  background: #F5F7FF;
  padding: 2rem 2.5rem;
  border-radius: 20px;
  border: 1px solid rgba(55, 105, 255, 0.2);
}
.cartola-info .title {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.cartola-info .saldos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1.5rem;
}
.cartola-info .saldos .item {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}
.cartola-info .saldos .item .saldo_monto {
  font-weight: bold;
  font-size: 1.1rem;
  color: #376AFF;
}
.cartola-info .saldos .item .saldo_monto small {
  font-weight: bold;
  font-size: 1.1rem;
  color: #376AFF;
}
.cartola-info .saldos .montos {
  margin-bottom: 2rem;
}

.totales .item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.3rem 0;
}
.totales .item span {
  font-size: 15px;
}

.simula-credito {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  background: #376AFF;
  color: white;
  padding: 0.5rem 2rem;
  border-radius: 15px;
  font-size: 14px;
}
.simula-credito a {
  display: flex;
  color: white !important;
  border-bottom: 2px solid white;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.cell {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.link {
  color: #376AFF;
  font-size: 14px;
  font-weight: 500;
  border-bottom: 1px solid #376AFF;
  cursor: pointer;
}
.link--sm {
  font-size: 12px;
}
.link:visited {
  color: #376AFF;
  /* Cambia el color para los hipervínculos visitados */
}

.grid-2 {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr;
}

.flex {
  display: flex;
}

.text-gray {
  color: rgb(106, 106, 106);
}

.text-right {
  text-align: right;
}

a {
  text-decoration: none;
}

.text-red {
  color: red !important;
}/*# sourceMappingURL=styles.css.map */